<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Book</title>
</head>
<body>
    <div id="app">
        <label>Tytuł: </label>
        <input type="text" v-model="book.title">
        <br>
        <label>Imię i nazwisko autora: </label>
        <input type="text" v-model="book.author">
        <br>
        <button @click="saveToConsole">Zapisz</button>
    </div>

    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            book: {
              title: '',
              author: ''
            }
          }
        },
        methods: {
          saveToConsole() {
            console.log('Książka:')
            console.log('Tytuł:', this.book.title)
            console.log('Autor:', this.book.author)
          }
        }
      }).mount('#app')

    </script>
</body>
</html>